.header {
  display        : flex;
  justify-content: space-between;
  max-width      : 1184px;
  padding        : 28px 0 0 0;
  margin         : 0 auto 0 auto;
}

@media all and (max-width:1280px) {
  .header {
    margin: 0 48px 0 48px;
  }
}

@media all and (max-width:1024px) {
  .header {
    max-width: 90.625%;
  }
}

@media all and (max-width:768px) {
  .header {
    max-width: 93%;
    margin   : 0 24px 0 24px;
  }
}

@media all and (max-width:320px) {
  .header {
    max-width: 90%;
    margin   : 0 16px 0 16px;
    padding  : 16px 0 0 0;
  }
}