.footer {
  max-width      : 1184px;
  display        : flex;
  justify-content: space-between;
  margin         : 92px auto 24px auto;
}

@media all and (max-width:1024px) {
  .footer {
    max-width: 928px;
  }
}

@media all and (max-width:768px) {
  .footer {
    max-width: 720px;
    margin   : 88px auto 24px auto;
  }
}

@media all and (max-width:320px) {
  .footer {
    display       : flex;
    flex-direction: column;
    margin        : 64px auto 24px 16px;
  }
}