.footer {
  max-width      : 1184px;
  display        : flex;
  justify-content: space-between;
  margin         : 92px auto 0 auto;
  padding        : 0 0 24px 0;
}

@media all and (max-width:1024px) {
  .footer {
    max-width: 90.625%;
  }
}

@media all and (max-width:768px) {
  .footer {
    max-width: 93.75%;
    margin   : 88px auto 0 auto;
  }
}

@media all and (max-width:360px) {
  .footer {
    flex-direction: column;
    margin        : 64px auto 0 16px;
  }
}