.place__website {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  align-self     : flex-end;
  flex-wrap: wrap;
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

@media all and (max-width:320px) {
  .place__website {
    margin: 0 auto 0 16px;
  }
}